body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  color: #222;
  position: relative;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}

#new_entry_title {
  padding: 10px;
  font-size: 14px;
}

.input_row_serial_number,
.input_row_content {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.input_row_content {
  margin: 10px auto;
  height: 90px;
}

.btn {
  padding: 10px;
  width: 70px;
  font-size: 14px;
  border-radius: 5px;
}

.btn-save {
  float: left;
}

.btn-close {
  float: right;
}

#tbody-id .btn-edit,
#tbody-id .btn-delete {
  cursor: pointer;
}